---
layout: single
author_profile: true
header:
  overlay_color: "#000"
  overlay_image: river_monitor.jpg
title: "  "
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

<p>I occasionally do things I want to share or just want to write about because I do.</p>

<p>When that mood strikes me things may appear and disappear from here.</p>
<br>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2>A link just for me</h2>

Don't you worry about what this leads to.
<br>

<body>
<input id='password' type='text'  />
<a href="/_pages/test_protected/" onclick="javascript:return validatePass()">enter</a>
<script>
function validatePass(){
    if(document.getElementById('password').value == 'borealis'){
        return true;
    }else{
        alert('wrong password!!');
        return false;
    }
}
</script>
</body>
